* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    letter-spacing: normal;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
}

.navbar_logout {
    background: none;
    border: none;
    color: white;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11.5pt;
    /* margin: 2% 30%; */
    transition-duration: 0.4s;
    /* margin-top: 8%; */
    /* margin-bottom: 5.5%; */
    cursor: pointer;
}

.navbar_logout:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.657);
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: white;
}

.palette__icon {
    margin-left: 10px;
    transform: scale(1.8);
}

.navbar {
    width: 100vw;
    z-index: 99;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 2px 5px 5px 5px rgba(100, 100, 100, 0.438);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 0 45px;
}

.profile__icon {
    margin-right: 19%;
    /* margin-left: 85%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    height: 100%;
    position: absolute;
    right: 0;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Finger Paint', cursive;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.navbar NavLink {
    position: fixed;
    left: 40px;
    /* top: 40px; */
    z-index: 10;
    cursor: pointer;
}

.menuNav {
    list-style:none;
    /* overflow-y: scroll; */
    list-style: none;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 5%;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
}

.menuNav a {
    color: white;
    font-size: 16pt;
    text-decoration: none;
}

.menuNav a:hover {
    color: rgb(160, 160, 160);
}

.menuNav:hover {
    background-color: black;
}

.menuNav.showMenu1 {
    border: 2px solid rgb(136, 136, 136);
    margin-top: 3%;
    width: 148%;
    background-color: rgb(87, 87, 87);
}

.menuNav.showMenu2 {
    border: 2px solid rgb(136, 136, 136);
    margin-top: 3%;
    width: 148%;
    background-color: rgb(87, 87, 87);
}

.profile-menu {
    /* z-index: -1; */
    /* appearance: none; */
    background: transparent;
    border: 1px solid #DDDDDD;
    color: #222222;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0px;
    outline: none;
    overflow: visible;
    padding: 5px 5px 5px 12px;
    text-align: inherit;
    text-decoration: none;
    user-select: auto;
    align-items: center;
    border-radius: 50%;
    border: none;
    height: 75px;
    /* margin-left: 10%; */
}

.profile-menu:hover {
    transform: scale(1.04);
}

.logo__container {
    display: flex;
    /* position: fixed; */
    justify-content: center;
    align-items: center;
    margin-left: 0.7%;
    color: grey;
}

.logo {
    color: rgb(0, 221, 0);
    transform: scale(2.5);
}

.logo:hover {
    transform: scale(2.7);
    cursor: pointer;
}

.fa-bars {
    padding-right: 10px;
}

.fa-user-circle {
    transform: scale(1.2);
    padding-top: 3px;
    padding-right: 10px;
    height: 20px;
    width: 20px;
}

.profile__img {
    z-index: 1;
    transform: scale(1.6);
    padding-top: 3px;
    padding-right: 10px;
    height: 20px;
    width: 30px;
    /* border-radius: 50%; */
}

.profile-dropdown {
    min-width: 300px;
    top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14pt;
    /* width: 10%; */
    padding: 1px;
    /* margin-left: -52.5%; */
    position: absolute;
    /* margin-top: 5%; */
    background-color: rgb(155, 155, 155);
    border: rgb(94, 94, 94) 2px solid;
    box-shadow: 0 3px 8px 2px rgba(104, 104, 104, 0.527);
}

.Dd-username {
    color: white;
    font-family: 'Finger Paint', cursive;
    padding-top: 8%;
    padding-left: 6%;
    padding-bottom: 8%;
    font-size: 14pt;
    width: 100%;
    font-weight: bold;
    list-style: none;
}

.username__container {
    border-bottom: 1px black solid;
}

.Dd-email {
    color: white;
    font-family: 'Finger Paint', cursive;
    margin-top: 15px;
    padding-left: 6%;
    font-size: 14pt;
    font-weight: bold;
    list-style: none;
    padding-bottom: 15px;
}

.email__container {
    border-bottom: 1px black solid;
}

.my__profile {
    text-decoration: none;
    font-family: 'Finger Paint', cursive;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    list-style: none;
    padding-bottom: 15px;
    margin-left: 10%;
}

.my__profile:hover {
    color: rgb(214, 15, 15);
}

.my__profile__container {
    border-bottom: 1px black solid;
    padding-top: 6%;
    padding-bottom: 8%;
    padding-right: 6%;
    padding-left: 6%;
}

.my__profile__container:hover {
    color: rgb(255, 251, 0);
}

.logout-btn {
    font-family: 'Finger Paint', cursive;
    background: none;
    border: none;
    color: white;
    background-color: rgb(215, 25, 25);
    border: 2px solid rgb(215, 25,25);
    border-radius: 50px;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11.5pt;
    margin: 2% 30%;
    transition-duration: 0.4s;
    margin-top: 8%;
    margin-bottom: 5.5%;
    cursor: pointer;
}

.logout-btn:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.657);
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    color: white;
}

.right__container {
    width: 10%;
}

.signin__btn {
    margin-left: 8%;
    cursor: pointer;
    color: white;
    font-size: 14pt;
    border: 1px rgba(97, 97, 97, 0.863) solid;
    border-radius: 5px;
    background-color: rgb(112, 112, 112);
    padding: 10px;
    padding-right: 16px;
    padding-left: 16px;
}

.signin__btn:hover {
    background-color: rgb(83, 83, 83);
}

.demo__btn {
    margin-left: 8%;
    cursor: pointer;
    color: white;
    font-size: 14pt;
    border: 1px rgba(97, 97, 97, 0.863) solid;
    border-radius: 5px;
    background-color: rgb(112, 112, 112);
    padding: 10px;
    padding-right: 16px;
    padding-left: 16px;
}

.demo__btn:hover {
    background-color: rgb(83, 83, 83);
}

.share__tab a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: 100%;
    text-shadow: none;
}

.share__tab::after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: #ff0008;
    transition: 300ms;
}

.share__tab:hover::after {
  width: 50%;
}

.share__tab a {
    font-size: 12pt;
    text-shadow: none;
}

.buttons {
    width: 100%;
}

/* @media only screen and (max-width: 2000px) {
    .signin__btn {
        margin-left: 0.5%;
        cursor: pointer;
        color: white;
        font-size: 14pt;
        border: 1px rgba(97, 97, 97, 0.863) solid;
        border-radius: 5px;
        background-color: rgb(112, 112, 112);
        padding: 10px;
        padding-right: 16px;
        padding-left: 16px;
    }
} */

@media only screen and (min-width: 250px) and (max-width:2500px) {

    .signin__btn {
        cursor: pointer;
        color: white;
        font-size: 14pt;
        border: 1px rgba(97, 97, 97, 0.863) solid;
        border-radius: 5px;
        background-color: rgb(112, 112, 112);
        padding: 10px;
        padding-right: 16px;
        padding-left: 16px;
    }

    .demo__btn {

        cursor: pointer;
        color: white;
        font-size: 14pt;
        border: 1px rgba(97, 97, 97, 0.863) solid;
        border-radius: 5px;
        background-color: rgb(112, 112, 112);
        padding: 10px;
        padding-right: 16px;
        padding-left: 16px;
    }

    .signin__btn:hover {
        background-color: rgb(83, 83, 83);
    }

    .demo__btn:hover {
        background-color: rgb(83, 83, 83);
    }
}
