*::-webkit-scrollbar {
    display: none;
}

body {
    overflow-y: scroll;
}

.header {
    color: rgb(45, 20, 78);
    margin-top: 6%;
    margin-left: 25%;
    font-size: 36pt;
    font-family: 'Finger Paint', cursive;
    text-shadow: 0px 0px 3px rgb(27, 11, 49);
}

.page__container {
    font-family: sans-serif;
    height: 100%;
    margin-left: 35%;
    margin-bottom: 8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.heading__image {
    height: 100%;
    margin-top: 3.2%;
}

.individual__listing {
    width: 30vw;
    margin-bottom: 10%;
    box-shadow: 0 0 5px 5px rgb(173, 173, 173);
    transition-duration: 0.3s;
}

.individual__listing:hover {
    box-shadow: 0 0 11px 6px rgb(189, 189, 189);
    transform: scale(1.02);
    transition-duration: 0.3s;
}

.image {
    width: 100%;
    height: 800px;
    box-shadow: 0 0 10px 10px rgba(32, 14, 56, 0.644);
}


.title {
    margin-top: 10%;
    margin-left: 4%;
}

.listing__title {
    margin-bottom: 5%;
    text-align: center;
    text-shadow: 0px 0px 4px rgb(124, 124, 124);
}
